{% extends 'Login/baseBasicas.html'%}
{% load static %}

{% block css %}
{% endblock %}


{% block titulo %}ServiHogar | Resetear Contraseña {% endblock %}

{% block enunciado %} Verifique su direccion de correo {% endblock %}


{% block content %}
      
     
      <form>
        {% csrf_token %}
        
            <div class="row m-3">
                
              {{form.email}}
          
            </div>
          
            <a href="{{url_reverse}}" class="btn btn-outline-primary ml-3"> Volver</a>
            <input type="submit" class="btn btn-outline-primary float-right mr-3" value="Enviar">
    
    
      </form>


{% endblock %}

      
{% block ajax %}
<!-- Sobrescribi este bloque, ya que tenia que modificar mi envio con ajax, para que mostrara un alert despues
de terminado el proceso -->
<script>

  $("form").on("submit",function(e){
  
  e.preventDefault();
  var parametros = new FormData(this) // la diferencia de esta linea y la de arriba es que esta sirve si el form tiene archivos imagenes
  
  enviar_con_ajax(window.location.pathname,parametros,'Esta seguro de realizar la siguiente acción',"parrafo",function(){
      Swal.fire({
      text:'Se ha enviado un correo electronico con los pasos a seguir para que pueda resetear su contraseña',
      icon: 'success',
      title: 'Alert!',
      showConfirmButton: true,
      onClose:()=>{location.href='{{url_ok}}'}
    }) 

  })


  })
  
   

</script>

{% endblock %}


{% block js %}
{% endblock %}